<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Mason Wiki</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/articles">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/articles/new">New</a>
      </li>
      <li class="nav-item dropdown">

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
</nav>

<div class = "container mt-5">
  <h1><%= @article.title %>
    <large>
        <%= link_to raw('<i class="fa fa-pencil text-danger"></i>'), edit_article_path %>
        <%= link_to raw('<i class="fa fa fa-trash-o text-danger"></i>'),
        article_path(@article),             
        method: :delete,
        data: { confirm: "Are you sure?" } %>
    </large>
  </h1>
  <div class = "mt-5">
    <p><em><%= @article.content %></em></p>
  </div>
</div>